* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "miFuente";
  src: url("../fonts/calibri.ttf");
}

html {
  font-size: 100%;
  width: 100%;
  height: 100%;
}

body {
  background: azure;
  font-family: miFuente;
  font-size: 100%;

  /* ESTRUCTURA DESKTOP */
  .contenedorGeneral {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background: black;
    display: flex;
    flex-direction: column;

    .cabecera {
      flex: 1 1 20%;
      display: flex;
      justify-content: space-around;

      .logo {
        flex: 1 1 20%;
        background: beige;
      }

      .menu_contenedor {
        background: cadetblue;
        flex: 1 1 70%;
      }

      .hamburguesa {
        display: none;
        background: pink;
        flex: 1 1 10%;
      }
    }

    .main {
      flex: 1 1 60%;
      width: 90%;
      margin: auto;
      display: flex;
      flex-direction: column;

      .inicio {
        flex: 1;
        display: flex;
        flex-direction: column;

        .slider {
          flex: 1 1 70%;
          background: blue;
        }

        .textoInicio {
          flex: 1 1 30%;
          background: rgb(105, 105, 150);
        }
      }

      .mision {
        flex: 1;
        background: chartreuse;
      }

      .vision {
        flex: 1;
        background: green;
      }

      .terminos {
        flex: 1;
        background: gray;
      }
    }

    .pie {
      flex: 1 1 20%;
      display: flex;
      flex-direction: column;

      .facebook {
        flex: 1 1 50%;
        background: aqua;
      }

      .email {
        flex: 1 1 20%;
        background: lemonchiffon;
      }

      .whatsapp {
        flex: 1 1 30%;
        background: brown;
      }
    }
  }

  /* ESTRUCTURA PARA DISPOSITIVOS MOVILES */

  @media (max-width: 768px) {
    .contenedorGeneral {
      .cabecera {
        .menu_contenedor {
          display: none;
        }

        .hamburguesa {
          display: block;
        }
      }

      .main {
        width: 100%;
      }
    }
  }

  /* ESTRUCTURA MOVIL LANDSCAPE */
  @media only screen and (orientation: landscape) {
  }
}
