/* ----------------------------------------------------- */
/* Estilos para Dispositivos Móviles (Mobile-first)      */
/* ----------------------------------------------------- */
/* Titulo de la pagina                                   */
/* ----------------------------------------------------- */
/* Contenedor General                                    */
/* ----------------------------------------------------- */
.container-carousel {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  border: 1px solid silver;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 3px 0px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
/* ----------------------------------------------------- */
/* Tira de imágenes que se deslizan (5 img = 500%)       */
/* ----------------------------------------------------- */
.carruseles {
  width: 500%;
  height: 100%;
  display: flex;
}
/* ----------------------------------------------------- */
/* Contenedor de cada imágen                             */
/* ----------------------------------------------------- */
.slider-section {
  flex: 1;
  height: 100%;
}
/* ----------------------------------------------------- */
/* Estilos de las imágenes                               */
/* ----------------------------------------------------- */
.slider-section img {
  width: 100%;
  height: 100%;
  object-fit:fil;
}
/* ----------------------------------------------------- */
/* Estilos generales de botones avance y retroceso       */
/* ----------------------------------------------------- */
.btn {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-1.2rem);
  border: 2px solid silver;
  color: silver;
  font-weight: 100;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease;
  user-select: none;
}
/* ----------------------------------------------------- */
/* Efecto hover para botones                             */
/* ----------------------------------------------------- */
.btn:hover {
  background: rgba(0, 0, 0, 0.2);
}
/* ----------------------------------------------------- */
/* Ubicación boton izquierdo                             */
/* ----------------------------------------------------- */
.btn-left {
  left: 0.4rem; /* relativa al borde izq del contenedor */
}
/* ----------------------------------------------------- */
/* Ubicación boton derecho                               */
/* ----------------------------------------------------- */
.btn-right {
  right: 0.4rem; /* relativa al borde der del contenedor */
}

/* ----------------------------------------------------- */
/* MEDIA QUERIES PARA TAMAÑOS DISPOSITIVOS MÓVILES       */
/* ----------------------------------------------------- */
/* MOBILE FIRST */

/* Celulares Landscape */
@media only screen and (orientation: landscape) {
}

/* Tablets */
@media (min-width: 600px) {
}

/* Laptops */
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 992px) {
  .container-carousel {
    width: 70%;
    height: 35rem;

    background-image: url(../imagenes/comercialCentre.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* ----------------------------------------------------- */
  /* Estilos de las imágenes                               */
  /* ----------------------------------------------------- */
  .slider-section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
